

#reviews {
    background-color: rgba(255, 255, 255, 0.205);
    height: 280px;
    background-image: url('laundry.jpeg');
    background-position: 100px 450px ;
    background-size: cover;
}

#results {
    color: white;
    font-size: 30px;
    margin-top: 150px;
    background-image: url('coffee.jpeg');
    height: 300px;
    text-align: center;
    background-size: cover;
}

p {
    display: inline;
    margin: 0rem 2rem;
}
